@import "tailwindcss";

:root {
    /* Global Styles */
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Variables */
    --navbar-height: 4.5rem;
}

body {
    @apply bg-background;
}

main {
    @apply mt-navbar-height px-2 sm:px-4;
}

.clickable-icon-hovered {
    @apply hover:bg-icon-hover cursor-pointer rounded-md transition-colors duration-150;
}

@theme {
    /* Colors */
    --color-charcoal: #0e0e0e;
    --color-background: #fafafa;
    --color-button-primary: #2c2c2c;
    --color-button-primary-hover: #3d3d3d;
    --color-input-border: #c9c9c9;
    --color-icon-hover: #e9e9e9;

    /* Fonts */
    --font-primary: "Alan Sans", sans-serif;

    /* Heights */
    --height-navbar-height: var(--navbar-height);
    --margin-navbar-height: var(--navbar-height);
}
